<div class="container" style="background-color: #f2f2f2; width: 200%;  border-radius: 25px;">
<br>
<h1><%= gettext "Editar empresa - %{name}", name: @empresa.nombre %></h1>
<br>

<%= render "form.html", Map.put(assigns, :action, Routes.empresa_path(@conn, :update, @empresa)) %>

<div class="phx-hero" style="background-color: #f2f2f2;">
 <span>
      <%= link to: Routes.empresa_path(@conn, :index) do %> 
      <i class="large material-icons" title="Regresar" style="color: black;">arrow_back</i>
      <% end %>
      </span>
</div>


</div>
